{% extends 'main.html'%}

{%block content%}
<h1 id="tiltle">To Do List</h1>
    <h5>
        <div class="row p-2">
                <div class="col text-light">
                    {%if request.user.is_authenticated%}
                    {{request.user}} | <a href="{% url 'logout' %}">Logout</a>
                    {%else%}
                    <a href="{%url 'login'%}">Login</a>
                    {%endif%}
                </div>
             <div class="col-6">
                 <form method="get">
                    <input  type="search" name="search" >
                    <button type="submit">🔍</button>
                 </form>
             </div>
            <div class="col">
                <a href="{% url 'task_form' %}"><button>➕</button></a>
            </div>
        </div>

    </h5>

    <table class="table table-hover table-" id="table">

        {%for task in tasks%}
        <tr> {%if task.complet %}
             <td><s style="font-family: Arial, sans-serif; color : red; font-size: 24px;">
                 {{task.tiltel }}</s></td>
            {%else%}
            <td style="font-family: Arial, sans-serif; font-size: 24px; color : green;">
               📌 {{task.tiltel }}</td>
            {%endif%}
             <td><a href="{% url 'task_detail' task.pk %}">📄</a></td>
             <td><a href="{% url 'task_update' task.pk%}">✏️</a></td>
             <td><a href="{% url 'task_delete' task.pk%}">🗑️</a></td>
        </tr>
        {%endfor%}
    </table>
{%endblock%}
